controller_manager:
  ros__parameters:
    update_rate: 100  # Hz
    
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    
    forward_position_controller:
      type: forward_command_controller/ForwardCommandController

forward_position_controller:
  ros__parameters:
    joints:
      - robot_joint1
      - robot_joint2
      - gripper_joint
    interface_name: position

joint_state_broadcaster:
  ros__parameters:
    joints:
      - robot_joint1
      - robot_joint2
      - gripper_joint